{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class=" container breadcrumb-banner breadcrumb-padding">
    <h1>{{ product.title }}</h1>
    <nav class="d-flex align-items-center">
        <a href="{% url 'home'%}">Home<span class="lnr lnr-arrow-right"></span></a>
        <a href="{% url 'product_index' %}">Shop<span class="lnr lnr-arrow-right"></span></a>
        <span>{{ product.title }}</span>
    </nav>
</div>
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{ product.image1.url }}" alt="Image not found">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{ product.image2.url }}" alt="Image not found">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{ product.image3.url }}" alt="Image not found">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{ product.title }}</h3>
                    <h2>${{ product.price }}</h2>
                    <ul class="list">
                        <li><a class="active"
                               href="{% url 'products_by_category' product.category.pk %}"><span>Category</span>
                            {{ product.category }}</a></li>
                        <li><span>Availibility</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In Stock
                            ({{ product.quantity }})
                        </li>
                    </ul>
                    <blockquote class="generic-blockquote">{{ product.description }}</blockquote>
                    <div class="product_count">
                        <label>Quantity:</label>
                        <input type="number" min="1" max="{{ product.quantity }}" name="qty" id="product_quantity" maxlength="12" value="1" title="Quantity:"
                               class="input-text qty">
                    </div>
                    <div id="snackbar">Added to Cart Successfully</div>
                    <div class="card_area d-flex align-items-center">
                        {% if user.is_authenticated %}
                        <button class="genric-btn primary e-large add-cart" data-cartid="{{ product.id }}">Add to Cart</button>
                        <script type="text/javascript">
							$('.add-cart').click(function(){
							var item_id;
							item_id = $(this).attr("data-cartid");
							var quantity = document.getElementById("product_quantity").value;
								$.ajax(
									{
										type:"GET",
										url: "/add-to-cart",
										data:{
												product_id: item_id,
												quantity: quantity
									},
								success: function( data )
									{
										var x = document.getElementById("snackbar");
										 if(data=="success"){
                                            x.innerHTML = "Added to Cart";
                                            x.className = "show";
                                            x.classList.add('success-color');
                                        }
                                        else{
                                            x.innerHTML = data;
                                            x.className = "show";
                                            x.classList.add('error-color');
                                        }
                                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
									}
								 })
							});

                        </script>
                        {% else %}
                        <a class="primary-btn cart-button" href="{% url 'login' %}">Add to Cart</a>
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="false">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile"
                   aria-selected="false">Specification</a>
            </li>
        </ul>
        <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <blockquote class="generic-blockquote">{{ product.long_description }} </blockquote>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <h5>Width</h5>
                            </td>
                            <td>
                                <h5>{{ product.width }}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Height</h5>
                            </td>
                            <td>
                                <h5>{{ product.height }}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Weight</h5>
                            </td>
                            <td>
                                <h5>{{ product.weight }}</h5>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}