{% extends "base.html" %}
{% load static%}
{% block page_content %}

<div class=" container breadcrumb-banner breadcrumb-padding">
    <h1>{{ breadcrumb }} Recommendations</h1>
    <nav class="d-flex align-items-center">
        <a href="{% url 'home'%}">Home<span class="lnr lnr-arrow-right"></span></a>
        <span>Recommendations</span>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <a href="{% url 'recommendations' %}" class="genric-btn primary e-large">Shop Products</a>
            <a href="{% url 'bidding_recommendations' %}" class="genric-btn primary e-large custom-margin-left">Bidding
                Products</a>
        </div>
    </div>
    <div class="row margin_top_50">
        <div class="col-xl-12 col-lg-10 col-md-8">
            <div class="filter-bar d-flex flex-wrap align-items-center margin_bottom_20">
                {% if products.has_other_pages %}
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="pagination">
                        {% if products.has_previous %}
                        <a class="prev-arrow" href="?page={{ products.previous_page_number }}"><i
                                class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                        {% else %}
                        <a class="prev-arrow disabled"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                        <a class="active">{{ i }} </a>
                        {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                        <a class="next-arrow" href="?page={{ products.next_page_number }}"><i
                                class="fa fa-long-arrow-right"
                                aria-hidden="true"></i></a>
                        {% else %}
                        <a class="next-arrow disabled"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            <section class="lattest-product-area pb-40 category-list">
                <h5>Showing Recommendations ({{ total_products }})</h5>
                <div class="row">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            {% if type != 'bid' %}
                            <a href="{% url 'product_detail' product.pk %}" class="social-info"><img
                                    class="img-fluid image_thumb"
                                    src="{{product.image1.url}}"
                                    alt="Image not found"></a>
                            {% else %}
                            <a href="{% url 'bidding_detail' product.pk 'active' %}" class="social-info"><img
                                    class="img-fluid image_thumb"
                                    src="{{product.product.image1.url}}"
                                    alt="Image not found"></a>
                            {% endif %}
                            <div class="product-details">
                                {% if type != 'bid' %}
                                <a href="{% url 'product_detail' product.pk %}" class="social-info">
                                    <h6>{{ product.title }}</h6>
                                </a>
                                {% else %}
                                <a href="{% url 'bidding_detail' product.pk 'active' %}" class="social-info">
                                    <h6>{{ product.product.title }}</h6>
                                </a>
                                {% endif %}
                                <div class="price">
                                    {% if type != 'bid' %}
                                    <h6>Price: ${{ product.price }}</h6>
                                    {% else %}
                                    <h6>Minimum Bid: ${{ product.minimumBid }}</h6>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            {% if products.has_other_pages %}
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="pagination">
                    {% if products.has_previous %}
                    <a class="prev-arrow" href="?page={{ products.previous_page_number }}"><i
                            class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    {% else %}
                    <a class="prev-arrow disabled"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    {% endif %}
                    {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                    <a class="active">{{ i }} </a>
                    {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                    <a class="next-arrow" href="?page={{ products.next_page_number }}"><i class="fa fa-long-arrow-right"
                                                                                          aria-hidden="true"></i></a>
                    {% else %}
                    <a class="next-arrow disabled"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}