{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="container">
    <div class=" container breadcrumb-banner breadcrumb-padding">
    <h1>User Information</h1>
    <nav class="d-flex align-items-center">
        <a href="{% url 'home'%}">Home<span class="lnr lnr-arrow-right"></span></a>
        <span>{{ user.username }}</span>
    </nav>
</div>
    <h2>User Profile info</h2>
    <div class="user-profile-tab">
        <button class="user-profile-tablinks active" onclick="openCity(event, 'Profile')">Profile</button>
        <button class="user-profile-tablinks" onclick="openCity(event, 'Bids')">Bids</button>
        <button class="user-profile-tablinks" onclick="openCity(event, 'Orders')">Orders</button>
    </div>

    <div id="Profile" style="display : block" class="user-profile-tabcontent">

        <table class="table table_cart">
            <thead>
            <tr>
                <th scope="col" colspan="4"><h4>Profile</h4></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <h6>Username</h6>
                </td>
                <td>
                    <h6>{{ user.username }}</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>First Name</h6>
                </td>
                <td>
                    <h6>{{ user.first_name }}</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>Last Name</h6>
                </td>
                <td>
                    <h6>{{ user.last_name }}</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>Email</h6>
                </td>
                <td>
                    <h6>{{ user.email }}</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>Member since</h6>
                </td>
                <td>
                    <h6>{{ user.date_joined|date:'d-F-Y' }}, {{ user.date_joined|date:'H:i' }}</h6>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="Bids" class="user-profile-tabcontent">
        <h3>Bids</h3>
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    {% if bid_items %}
                    <table class="table table_cart">
                        <thead>
                        <tr>
                            <th scope="col">Product(s)</th>
                            <th scope="col">Bid</th>
                            <th scope="col">Billing Address Info</th>
                            <th scope="col">City</th>
                            <th scope="col">Country</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in bid_items %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img class="img-fluid image_cart_thumb" src="{{item.product.image.url}}"
                                             alt="Image not found">
                                    </div>
                                    <div class="media-body">
                                        <h5>{{ item.product.title }}</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h4>${{ item.biddingAmount }}</h4>
                            </td>
                            <td>
                                <span>Phone # :</span> <h6> {{ item.phoneNumber}}</h6>
                                <span>Email :</span> <h6> {{ item.user.email}}</h6>
                                <span>Address :</span> <h6> {{ item.adressLine1}}</h6>
                                <h6>{{ item.adressLine2}}</h6>
                            </td>
                            <td>
                                <h6>{{ item.city}}</h6>
                            </td>
                            <td>
                                <h6>{{ item.country}}</h6>
                            </td>
                            <td>
                                <h6>{{ item.status}}</h6>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h2>No Bids to show</h2>
                    <h6>Please place some bids</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="Orders" class="user-profile-tabcontent">
        <h4>Orders</h4>
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    {% if order_items %}
                    <table class="table table_cart">
                        <thead>
                        <tr>
                            <th scope="col">Product(s)</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Billing Address Info</th>
                            <th scope="col">City</th>
                            <th scope="col">Country</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date/Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order_items %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img class="img-fluid image_cart_thumb" src="{{item.product.image.url}}"
                                             alt="Image not found">
                                    </div>
                                    <div class="media-body">
                                        <h5>{{ item.product.title }}</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h4>${{ item.productPrice }}</h4>
                            </td>
                            <td>
                                <h4>{{ item.quantity }}</h4>
                            </td>
                            <td>
                                <h6>${{ item.orderPrice}}</h6>
                            </td>
                            <td>
                                <span>Phone # : </span><h6> {{ item.phoneNumber}}</h6>
                                <span>Email : </span> <h6> {{ item.email}}</h6>
                                <span>Address : </span> <h6> {{ item.adressLine1}}</h6>
                                <h6>{{ item.adressLine2}}</h6>
                            </td>
                            <td>
                                <h6>{{ item.city}}</h6>
                            </td>
                            <td>
                                <h6>{{ item.country}}</h6>
                            </td>
                            <td>
                                <h6>{{ item.status}}</h6>
                            </td>
                            <td>
                                <span>Date : </span><h6>{{ item.date|date:'d-F-Y' }}</h6>
                                <span>Time : </span><h6>{{ item.date|date:'H:i' }}</h6>
                            </td>
                            <td>
                                <a href=" {% url 'contactVendor' item.pk %} " class="genric-btn info circle arrow">Contact Vendor<span class="lnr lnr-arrow-right"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h2>No order to show</h2>
                    <h6>Please place some orders</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("user-profile-tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("user-profile-tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
{% endblock %}